:root {
    --blue: #2363D9;
    --green: #21D948;
    --red: #D92136;
    --yellow: #F5BD05;
    --darkyellow: #E8A12E;
    --purple: #350E36;
    --murkyblue: #696191;
    --murkybluelight: #6e65c7;
    --swampgreen: #C8CD7D;
    --neonswampgreen: #ccfc5b;
    --darkneonswampgreen: #86A63C;
    --blueblack: #0B1226;
    --bluegrey: #101b38;
    --grey: #cacaca;
    --white: #efefef;
}

html {
    font-family: "Ubuntu", sans-serif;
    color: var(--neonswampgreen);
    padding: -100%;
}

body {
    margin: 0;
    background-image: linear-gradient(0deg, var(--bluegrey), var(--murkyblue) 40%, var(--bluegrey) 90%);
    background-color: var(--bluegrey);

    scroll-behavior: smooth;
}

button {
    color: var(--bluegrey);
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    text-transform: lowercase;

    border: none;
    background-image: linear-gradient(var(--neonswampgreen), var(--darkneonswampgreen));
    box-shadow:
        inset 0px 0px 6px 6px var(--darkneonswampgreen),
        gray 0px 0px 4px 2px;
    border-radius: 15px;

    cursor: pointer;
}
a {
    color: var(--neonswampgreen);
    text-decoration: none;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: rgba(16, 27, 56, 0.3);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: var(--grey);
    border-radius: 5px;

    box-shadow:
        inset 0px 0px 6px 2px var(--blueblack)
}

main {
    width: 100%;
    height: 100%;
}

.profile {
    padding-top: 10%;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.profile h1 {
    width: 100%;
    text-align: center;
    margin-bottom: 0px;
}

.profile h4 {
    width: 275px;
    color: var(--darkneonswampgreen);
    text-align: center;
    margin-top: 0px;
    margin-bottom: 10px;

    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .2em solid var(--darkneonswampgreen); /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .1em; /* Adjust as needed */
    animation: 
    typing 1s steps(100, end),
    blink-caret .40s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 275px }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: var(--darkneonswampgreen); }
}

.socials {
    margin: auto;
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile img {
    width: 36px;
    height: 36px;
    margin: 5px;
    border-radius: 50%;
    box-shadow: gray 0px 0px 2px 1px;
}

.profile img:hover {
    width: 40px;
    height: 40px;
    box-shadow: gray 0px 0px 4px 2px;
}

#profile_pic{
    width: 256px;
    height: 256px;
    border-radius: 50%;
    box-shadow: gray 0px 0px 10px 2px;
    display: block;
    margin: auto;
}

#profile_pic:hover {
    box-shadow: gray 0px 0px 15px 3px;
}

main section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 10px;
}



/* INFO BOXES */

#infobox_container {
    transition: .3s;
}

.grid_infobox_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.infobox {
    height: 300px;
    margin: 10px;
    background-image: linear-gradient(to bottom, rgb(1,0,0,0) 40%, var(--murkyblue));
    border: 1px solid var(--neonswampgreen);
    border-radius: 10px;
    box-shadow: gray 0px 0px 10px 2px;
    padding: 20px;

    align-items: center;
    justify-content: center;

    position: relative;

    font-weight: 600;

    overflow: hidden;

    transition: .3s;
}

.infobox hr {
    border-color: var(--neonswampgreen);
}

.infobox:hover {
    box-shadow: gray 0px 0px 15px 3px;
}

@media only screen and (max-width: 1000px) {
    .grid_infobox_container {
        grid-template-columns: 1fr;
    }

    .section_expanded .content {
    margin-left: 0;
    margin-right: 0;
    }
}
@media only screen and (min-width: 1001px) {
    .grid_infobox_container {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.infobox p {
    display: inline;
    float: left;
    text-align: left;
    overflow: hidden;
    text-transform: none;
    color: var(--grey);
}

.infobox img {
    height: 48px;
    width: auto;
    margin: 7px;
    align-items: center;
    opacity: 0.5;
}

.infobox button {
    z-index: 1;
    position: absolute;
    bottom: 20px;
    width: 90px;
    height: 30px;
    left: 0;
    right: 0;
    margin: auto;
}

.infobox button:hover {
    background-image: linear-gradient(var(--darkneonswampgreen), var(--neonswampgreen));
    box-shadow: gray 0px 0px 6px 3px;
    opacity: 1;
}

.infobox ::-webkit-scrollbar-thumb {
    background: var(--neonswampgreen);
    border-radius: 5px;

    box-shadow:
        inset 0px 0px 6px 2px var(--darkneonswampgreen)
}

/* Expanded Styling */

.section_expanded {
    display: none;
    max-height: 80%;
    overflow: auto;

    text-align: left;
    color: var(--grey);
}

.section_expanded h2 {
    width: fit-content;
    text-align: center;
    justify-self: center;
    padding: 5px 20px 5px 20px;
    margin: 60px 10px 60px 10px;

    background-color: var(--blueblack);
    border-radius: 1em;
    box-shadow:
        inset 0px 0px 12px 12px var(--bluegrey),
        gray 0px 0px 4px 2px;

    font-weight: bolder;
    color: var(--white);
    text-transform: uppercase;
}

.section_expanded .content {
    margin-left: 5em;
    margin-right: 5em;;
}

.section_expanded .content button {
    font-size: .6em;
    display: block;
    position: static;
    width: 60px;
    height: 20px;
    margin: 2em 0 2em 0;
}

.section_expanded .content button a {
    color: var(--blueblack);
    text-decoration: none;
}

.section_expanded h3 {
    color: var(--white);
    text-decoration: underline;
    margin-top: 2em;
    margin-bottom: 0px;
    width: fit-content;
}

.section_expanded h4 {
    width: fit-content;
    margin-top: 0;
    margin-bottom: 1em;
}

.section_expanded img {
    width: auto;
    margin: 7px;
    align-items: center;
    opacity: 0.5;
}

.section_expanded ul {
    list-style-type: "~";
    list-style-position: inside;
}

.section_expanded li {
    justify-content: center;
}

.section_expanded li::marker{
    font-size: .8em;
}

.section_expanded p {
    margin: 0px;
    padding: 0px;
    font-size: .7em;
    float: none;
    line-height: 18px;
}

@media only screen and (max-width: 1000px) {
    .section_expanded .content {
    margin-left: 0;
    margin-right: 0;
    }

    .section_expanded .content button{
    margin-left: 1em; 
    }
}

/* EXPERIENCE INFOBOX */

#experiences_infobox {
    display: block;
}

#experiences_infobox button {
    opacity: 1;    
}

#experiences_infobox_expanded {
    display: none;
}

#experiences_section {
    display: block;
}

/* EXPERIENCE SECTION EXPANDED */

#experiences_section_expanded {
    display: none;
    max-height: 80%;
    overflow: auto;

    margin: 0;

    text-align: left;
    color: var(--grey);
}

#experiences_section_expanded h3 {
    color: white;
    margin-bottom: 0px;
    width: fit-content;
}

#experiences_section_expanded img {
    width: auto;
    margin: 7px;
    align-items: center;
    opacity: 0.5;
}

#experiences_section_expanded ul {
    list-style-type: "~";
    list-style-position: inside;
}

#experiences_section_expanded li {
    justify-content: center;
}

#experiences_section_expanded li::marker{
    font-size: .8em;
}

#experiences_section_expanded p {
    margin: 0px;
    padding: 0px;
    font-size: .7em;
    float: none;
    line-height: 18px;
}

/* EDUCATION INFOBOX */

#education_infobox {
    display: block;
}

#education_infobox_expanded {
    display: none;
}

#education_section {
    opacity: 1;
    flex-wrap: nowrap;
    justify-content: start;
}

#education_section_expanded {
    display: none;
    max-height: 80%;
    overflow: auto;

    text-align: left;
}

#education_infobox {
    display: block;
    flex-wrap: nowrap;
    justify-content: start;
}


#ufv_icon {
    border-radius: 50%;
    display: inline;
    justify-self: start;
}

/* SKILL INFOBOX */

#skills_infobox {
    display: block;
}

#skills_infobox_expanded {
    display: none;
    height: 600px;
}

#skills_section {
    display: block;
}

#skills_section_expanded {
    display: none;
    max-height: 80%;
    overflow: auto;
}

#skills_section img {
    height: 64px;
}